@font-face {
  font-family: rezvan;
  src: url("./assets/fonts/Rezvan.ttf");
}
body {
  margin: 0;
  font-family:rezvan;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
direction: rtl;
}

a , span , div , p , li , ul , h1 , h2 , h3 ,h4 ,h5 ,h6 {
  color: black;
  font-size: 18px;
  line-height: 33px;
  font-family: rezvan;
}
a {
  text-decoration: none;
  color: black;
}